Source: fridge
Section: unknown
Priority: extra
Maintainer: Osamu Aoki <osamu@debian.org>
Build-Depends: debhelper (>=9),
	python3-all
Standards-Version: 3.9.4
Homepage: <insert the upstream URL, if relevant>
Vcs-Git: git://git.debian.org/collab-maint/fridge.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/fridge.git
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.2

Package: fridge
Architecture: all
Multi-Arch: foreign
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
	${python:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
 <continued long description lines ...>
 .
 <continued long description line after a line break indicated by " .">
 <continued long description lines ...>


