Source: fridge
Section: unknown
Priority: extra
Maintainer: Osamu Aoki <osamu@debian.org>
Build-Depends: debhelper (>= 8.0.0), python3-minimal, python3
Standards-Version: 3.9.3
X-Python3-Version: >= 3.1
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/fridge.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/fridge.git;a=summary

Package: fridge
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
