Package: fridge
Version: 1.0-1
Architecture: all
Maintainer: Osamu Aoki <osamu@debian.org>
Installed-Size: 49
Section: unknown
Priority: extra
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
